{% extends 'main.html' %}

{% block content %}

<!-- .container>.row>(.col-md-6>h1{Show article})+(.col-md-6>.text-end>a.btn.btn-link{Back to list}) -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Show article</h1>
        </div>
        <div class="col-md-6">
            <div class="text-end"><a href="{%url 'articles_index'%}" class="btn btn-link">Back to list</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{article.title}}</h2>
            <span class="badge bg-primary">{{article.category.name}}</span>
            <p>{{article.description}}</p>
            <hr>
            <ul>
                {% for tag in article.tags.all %}
                    <li>{{tag.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}